 DB_USER=postgres
 DB_PASSWORD=password
 DB_HOST=localhost
 DB_PORT=5432
 DB_NAME=calendar
 JWT_SECRET=your_secret_key_here
 JWT_EXPIRES_IN=1h
 OPENROUTER_BASE_URL=https://openrouter.ai
 OPENROUTER_API_KEY=xyz
 OPENROUTER_MODEL='openai/gpt-4o'